<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default TestSuite">
	<test name="Automated Full Regression TestCycle (Baseline)" preserve-order="false"
		parallel="false">
		<classes>
			<class
				name="rivetlogic.automation.baseline.testcases.basetestsuite.samples.QuickLinkAndRecentLinkTestCases" />
					<class
				name="rivetlogic.automation.baseline.testcases.basetestsuite.samples.AppsAndLinksTestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
